APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6ab635d20002717b9c3f
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=6ab67acd00393caac3e0
APPWRITE_TABLE_PLAYERS=6ab67f2a0025bd9bc403
APPWRITE_TABLE_CLUBS=6ab6873c000870ab4e71
